[Unit]
Description=Get CAN_Listener service running at boot

[Service]
ExecStart=/usr/bin/python3 /home/pi/labs/can_listener/can_listener.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=CAN_Listener
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
